body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #21325E;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3E497A;
    text-align: center;
}

.box h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

input::placeholder {
    color: rgb(182, 175, 175);
}

textarea::placeholder {
    color: rgb(182, 175, 175);
}


.box input[type="text"], .box input[type="email"], textarea {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #21325E;
    padding: 15px 10px;
    width: 200px;
    color: #bbb;
    border-radius: 24px;
    outline: none;
}

.box input[type="text"]:focus, .box input[type="email"]:focus, textarea:focus {
    transition: 0.25s;
    width: 280px;
    border-color: #F1D00A;
}


.box input[type="submit"] {
    background: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #F1D00A;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #F1D00A;
}

